* {
    box-sizing: border-box;
}

html {
   height: 100vh; 
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf8e1;
}

a {
    color: #000;
}

/* Navigation Bar */
.header {
    background-color:#ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:#fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header ul a {
    display:block;
    outline: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #142103;
    text-decoration: none;
    margin-left: 30px;
}

.header ul a:hover {
    background-color: #ddd;
}

.header ul a.active {
    background-color: #4a6fa5;
    color: white;
}

.header ul a.active:hover {
    background-color: #3c5a8a;
}

.header .logo {
    float:left;
    display:block;
    font-size: 2em;
    padding: 10px 20px;
}

/* Hamburger Menu for Nav Bar Responsiveness*/

.header .menu {
    clear:both;
    max-height:0;
    transition:max-height .2s ease-out;
}

.header .menu-icon {
    border:1px solid black;
    padding: 20px 20px;
    position:relative;
    float:right
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #333;
    content:"";
    display:block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    background: #333;
    content:"";
    display:block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background:transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}

/* Media Query for Navigation Bar Responsiveness*/

@media (min-width:48em) {

    .header li{
        float:left;
    }

    .header li a{
        padding:20px 30px;

    }

    .header .menu{
        clear:none;
        float:right;
        max-height:none;
    }

    .header .menu-icon{
        display:none;
    }

}

.main-section {
    background-image: url(index_banner.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 100px;
}

/* Container for About Us */

.container { 
    color: #17103a;
    border: 5px double  black;
    justify-content: last baseline;
    text-align: center;
    padding: 16px;
    font-size: 1.4rem;
    margin: 0;
}


.events-section {
    background-image: url(index_banner.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 100px;
}

.contact-section {
    background-image: url(index_banner.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 100px;

}

/* Container for Index File*/
.main-content {
    background-color: rgb(248, 248, 250);
    flex-grow: 1;
    padding: 16px;
}

.user-msg {
    background-color: #bbdef0;
    border-radius: 10px;
    padding: 16px; 
    font-size: 20px;
    font-family: sans-serif;
}

/* User Form for Email Address and Message*/
.user-form {
    background-color: #eff7f6;
    border-radius: 10px;
    padding: 16px;
    font: 20px sans-serif;
}

label {
    display: block;
    margin: 8px 0;
}

.fieldsets {
    border-radius: 10px;
}

.user-message {
    width: 50%
}

/* Grid for images on index file*/

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 480px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Grid to have Image and Text for the Upcoming Events Section*/

.event-grid {
    --gap: 16px;
    --num-cols: 2;
    --row-height: 480px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    gap: var(--gap);
}

.event-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Media Query to make Images Responsive*/

@media screen and (max-width:1024px) {
    .image-grid {
        --num-cols: 2;
        --rows-height: 200px;
    }
    
}

/* Media Query to make text responsive */

@media screen and (max-width:768px) {
    .main-section {
        font-size:30px;
    }

    .events-section{
        font-size:30px;
    }

    .contact-section{
        font-size:30px;
    }
    
}

/* Button to submit form*/

.button {
    background-color: #3a7ca5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  /* Footer panels and copyright */
 footer {
    margin-top: 15px;
  }

  .foot-panel1 {
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }

  .foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 150px;
    display:flex;
    justify-content: space-evenly;
    
  }

  .foot-panel2 ul a {
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
  }

  .copyright {
    color: #000;
    background-color: #61a5c2;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }